<button class="btn btn-primary" @onclick="OnAddClick">Add movie</button>

@foreach (var item in LabraryListItems)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.Id) @item.Title</h5>
            <p class="card text"> @item.Description</p>
            <p></p>
            <button class="btn btn-warning" @onclick="e => OnReadClick.InvokeAsync(item)">More info</button>
            <button class="btn btn-warning" @onclick="e => OnEditClick.InvokeAsync(item)">Edit</button>
            <button class="btn btn-warning" @onclick="e => OnDeleteClick.InvokeAsync(item)">Delete</button>
        </div>
    </div>
}



@code
{
    [Parameter]
    public LabraryListItem[] LabraryListItems { get; set; }

    [Parameter]
    public EventCallback<LabraryListItem> OnReadClick { get; set; }

    [Parameter]
    public EventCallback OnAddClick { get; set; }

    [Parameter]
    public EventCallback<LabraryListItem> OnEditClick { get; set; }

    [Parameter]
    public EventCallback<LabraryListItem> OnDeleteClick { get; set; }
}
