@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.form-group img {
    max-width: 25%;
    max-height: 25%;
    background-color: lightyellow;
    border: black, solid, 3px;
}

.card {
    margin-bottom: 5px;
    margin-top: 5px;
    display: grid;
    background-color: lightyellow;
}

.welcome-text {
    padding-top: 125px;
    margin-left: 125px;
}

.form-group {
    background-color: lightyellow;
}

.form-control {
    background-color: lightyellow;
}

/*This is for everything for concept*/
.connectfour-board {
    background-color: blue;
    display: flex;
    flex-direction: row;
    max-width: 490px;
}

.connectfour-column {
    min-width: 60px;
    min-height: 60px;
    height: 100%;
}

.connectfour-gamepiece {
    border: solid 1px black;
    margin: 5px;
    min-height: 60px;
    min-width: 60px;
    border-radius: 50px;
}

.connectfour-red {
    background-color: red;
}

.connectfour-yellow {
    background-color: yellow;
}

.connectfour-blank {
    background-color: lightyellow;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blank {
    background-color: lightyellow;
}